In [1]:
import pandas as pd
import numpy as np

In [65]:
data = pd.read_csv("netflix_titles.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [66]:
data["country"].replace(np.nan, "None",inplace=True)

In [67]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [68]:
data["country"].replace({"None": "USA"}, inplace=True)

In [69]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",USA,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,USA,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,USA,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [99]:
data.groupby(["type", "country"]).count()

                                                            show_id  title  \
type    country
Movie   , France, Algeria                                         1      1
        Argentina                                                38     38
        Argentina, Brazil, France, Poland, Germany, Den...        1      1
        Argentina, Chile                                          2      2
        Argentina, Chile, Peru                                    1      1
...                                                             ...    ...
TV Show United States, South Korea, China                         2      2
        United States, Sweden                                     1      1
        United States, United Kingdom                             9      9
        United States, United Kingdom, Australia                  1      1
        Uruguay, Germany                                          1      1

                                                            director  cast  \
type    country
Movie   , France, Algeria                                          1     1
        Argentina                                                 38    34
        Argentina, Brazil, France, Poland, Germany, Den...         1     1
        Argentina, Chile                                           2     2
        Argentina, Chile, Peru                                     1     1
...                                                              ...   ...
TV Show United States, South Korea, China                          0     2
        United States, Sweden                                      0     1
        United States, United Kingdom                              0     9
        United States, United Kingdom, Australia                   0     1
        Uruguay, Germany                                           0     0

                                                            date_added  \
type    country
Movie   , France, Algeria                                            1
        Argentina                                                   38
        Argentina, Brazil, France, Poland, Germany, Den...           1
        Argentina, Chile                                             2
        Argentina, Chile, Peru                                       1
...                                                                ...
TV Show United States, South Korea, China                            2
        United States, Sweden                                        1
        United States, United Kingdom                                9
        United States, United Kingdom, Australia                     1
        Uruguay, Germany                                             1

                                                            release_year  \
type    country
Movie   , France, Algeria                                              1
        Argentina                                                     38
        Argentina, Brazil, France, Poland, Germany, Den...             1
        Argentina, Chile                                               2
        Argentina, Chile, Peru                                         1
...                                                                  ...
TV Show United States, South Korea, China                              2
        United States, Sweden                                          1
        United States, United Kingdom                                  9
        United States, United Kingdom, Australia                       1
        Uruguay, Germany                                               1

                                                            rating  duration  \
type    country
Movie   , France, Algeria                                        1         1
        Argentina                                               38        38
        Argentina, Brazil, France, Poland, Germany, Den...       1         1
        Argentina, Chile                                         2         2
        Argentina, Chile, Peru                                   1         1
...                                                            ...       ...
TV Show United States, South Korea, China                        2         2
        United States, Sweden                                    1         1
        United States, United Kingdom                            9         9
        United States, United Kingdom, Australia                 1         1
        Uruguay, Germany                                         1         1

                                                            listed_in  \
type    country
Movie   , France, Algeria                                           1
        Argentina                                                  38
        Argentina, Brazil, France, Poland, Germany, Den...          1
        Argentina, Chile                                            2
        Argentina, Chile, Peru                                      1
...                                                               ...
TV Show United States, South Korea, China                           2
        United States, Sweden                                       1
        United States, United Kingdom                               9
        United States, United Kingdom, Australia                    1
        Uruguay, Germany                                            1

                                                            description
type    country
Movie   , France, Algeria                                             1
        Argentina                                                    38
        Argentina, Brazil, France, Poland, Germany, Den...            1
        Argentina, Chile                                              2
        Argentina, Chile, Peru                                        1
...                                                                 ...
TV Show United States, South Korea, China                             2
        United States, Sweden                                         1
        United States, United Kingdom                                 9
        United States, United Kingdom, Australia                      1
        Uruguay, Germany                                              1

[849 rows x 10 columns]

In [73]:
data.loc[data.release_year >= 2017].count()

show_id         4754
type            4754
title           4754
director        3007
cast            4176
country         4754
date_added      4753
release_year    4754
rating          4753
duration        4753
listed_in       4754
description     4754
dtype: int64

In [74]:
data.loc[data.release_year >= 2018].count()

show_id         3722
type            3722
title           3722
director        2234
cast            3264
country         3722
date_added      3721
release_year    3722
rating          3722
duration        3722
listed_in       3722
description     3722
dtype: int64

In [88]:
data.loc[data["release_year"]== 2017 ]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
38,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States","September 16, 2021",2017,PG-13,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...
89,s90,TV Show,Mighty Raju,NaN,"Julie Tejwani, Sabina Malik, Jigna Bhardwaj, R...",USA,"September 9, 2021",2017,TV-Y7,4 Seasons,Kids' TV,"Born with superhuman abilities, young Raju wan..."
105,s106,Movie,Angamaly Diaries,Lijo Jose Pellissery,"Antony Varghese, Reshma Rajan, Binny Rinky Ben...",India,"September 5, 2021",2017,TV-14,128 min,"Action & Adventure, Comedies, Dramas",After growing up amidst the gang wars of his h...
118,s119,Movie,Gurgaon,Shanker Raman,"Akshay Oberoi, Pankaj Tripathi, Ragini Khanna,...",India,"September 2, 2021",2017,TV-14,106 min,"Dramas, International Movies, Thrillers",When the daughter of a wealthy family returns ...
128,s129,Movie,Agatha Christie's Crooked House,Gilles Paquet-Brenner,"Glenn Close, Terence Stamp, Max Irons, Gillian...",USA,"September 1, 2021",2017,PG-13,115 min,"Dramas, International Movies, Thrillers",When a detective investigates the death of his...
...,...,...,...,...,...,...,...,...,...,...,...,...
8753,s8754,Movie,Withdrawn,Adrian Murray,"Aaron Keogh, Molly Reisman, Dean Tardioli, Gre...",Canada,"May 1, 2018",2017,TV-MA,74 min,"Dramas, Independent Movies",Unable to pay bills and unwilling to change hi...
8758,s8759,TV Show,World's Busiest Cities,NaN,"Anita Rani, Ade Adepitan, Dan Snow",United Kingdom,"February 1, 2019",2017,TV-PG,1 Season,"British TV Shows, Docuseries","From Moscow to Mexico City, three BBC journali..."
8765,s8766,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...","Canada, United States","June 22, 2017",2017,R,81 min,Horror Movies,This four-part anthology of short horror films...
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Can’t Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...

In [89]:
data.loc[data["release_year"]== 2018]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
37,s38,TV Show,Angry Birds,NaN,"Antti Pääkkönen, Heljä Heikkinen, Lynne Guagli...",Finland,"September 16, 2021",2018,TV-Y7,1 Season,"Kids' TV, TV Comedies","Birds Red, Chuck and their feathered friends h..."
73,s74,Movie,King of Boys,Kemi Adetiba,"Sola Sobowale, Adesua Etomi, Remilekun ""Remini...",Nigeria,"September 14, 2021",2018,TV-MA,182 min,"Dramas, International Movies",When a powerful businesswoman’s political ambi...
94,s95,Movie,Show Dogs,Raja Gosnell,"Will Arnett, Ludacris, Natasha Lyonne, Stanley...","United Kingdom, United States","September 8, 2021",2018,PG,90 min,"Children & Family Movies, Comedies",A rough and tough police dog must go undercove...
96,s97,Movie,If I Leave Here Tomorrow: A Film About Lynyrd ...,Stephen Kijak,"Ronnie Van Zandt, Gary Rossington, Allen Colli...",United States,"September 7, 2021",2018,TV-MA,97 min,"Documentaries, Music & Musicals","Using interviews and archival footage, this do..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8732,s8733,Movie,White Chamber,Paul Raschid,"Shauna MacDonald, Oded Fehr, Amrita Acharia, S...",United Kingdom,"August 1, 2019",2018,TV-MA,89 min,"Sci-Fi & Fantasy, Thrillers","When a civil war ravages the UK, a scientist a..."
8743,s8744,Movie,Wildlife,Paul Dano,"Carey Mulligan, Ed Oxenbould, Bill Camp, Jake ...",United States,"September 1, 2020",2018,PG-13,105 min,"Dramas, Independent Movies",A teen’s life in 1960 Montana grows complicate...
8774,s8775,Movie,يوم الدين,Abu Bakr Shawky,"Rady Gamal, Ahmed Abdelhafiz, Shahira Fahmy, S...","Egypt, Austria, United States","October 22, 2019",2018,TV-14,97 min,"Dramas, Independent Movies, International Movies",A man cured of leprosy and a young orphan leav...
8775,s8776,TV Show,Yeh Meri Family,NaN,"Vishesh Bansal, Mona Singh, Akarsh Khurana, Ah...",India,"August 31, 2018",2018,TV-PG,1 Season,"International TV Shows, TV Comedies","In the summer of 1998, middle child Harshu bal..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,USA,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [93]:
data.groupby(["type","release_year"]).count()

                      show_id  title  director  cast  country  date_added  \
type    release_year
Movie   1942                2      2         2     1        2           2
        1943                3      3         3     0        3           3
        1944                3      3         3     1        3           3
        1945                3      3         3     1        3           3
        1946                1      1         1     1        1           1
...                       ...    ...       ...   ...      ...         ...
TV Show 2017              265    265        25   236      265         265
        2018              380    380        23   328      380         379
        2019              397    397        31   350      397         397
        2020              436    436        53   357      436         436
        2021              315    315        45   250      315         315

                      rating  duration  listed_in  description
type    release_year
Movie   1942               2         2          2            2
        1943               3         3          3            3
        1944               3         3          3            3
        1945               3         3          3            3
        1946               1         1          1            1
...                      ...       ...        ...          ...
TV Show 2017             265       265        265          265
        2018             380       380        380          380
        2019             397       397        397          397
        2020             436       436        436          436
        2021             315       315        315          315

[119 rows x 10 columns]

In [98]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",USA,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,USA,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,USA,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [100]:
data.groupby("type")["country"].value_counts()

type     country
Movie    United States                               2058
         India                                        893
         USA                                          440
         United Kingdom                               206
         Canada                                       122
                                                     ...
TV Show  United States, Russia                          1
         United States, Singapore                       1
         United States, Sweden                          1
         United States, United Kingdom, Australia       1
         Uruguay, Germany                               1
Name: country, Length: 849, dtype: int64

In [103]:
data.groupby("type")["release_year"].value_counts()

type     release_year
Movie    2017            767
         2018            767
         2016            658
         2019            633
         2020            517
                        ...
TV Show  1979              1
         1981              1
         1985              1
         1989              1
         1991              1
Name: release_year, Length: 119, dtype: int64